* {
    font-family: 'Roboto', sans-serif;
}

.body { 
    background-color: black;
}

.dark-mode {
    background-color: white
}





/* Filter */

.filter { 
    margin-top: -150px;
    padding-top: 150px;
}

.filter p { 
    color: grey;
}

.filter a {
    color: grey;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

.filter a:hover {
    color: #ffc107
    
}

/* breadcrumb */

.breadcrumb { 
    
}

/* popular movies */
#popular-movies {
    margin-bottom: 70px;
}
#popular-movies img{
    transition: 0.5s;
    
}

#popular-movies img:hover{
    /* opacity: 0.5; */
    transform: translateY(1.5);
    
}

.judul {
    font-size: 18px;
    font-weight: bold;
    border-left: 3px solid yellow;
    padding-left: 10px;
    margin-bottom: 10px;
    color: white;
}

.card-popular-movies  { 
    width: 200px;
    border: none;
}


/* rated movies */
#rated-movies {
    margin-bottom: 70px;
}

.card-rated-movies { 
    border: none;
}

/* popular series */
#popular-series { 
    margin-bottom: 70px;
}

/* rated series */
#rated-series{
    margin-bottom: 100px;
}


/* footer */


.footer button { 
    font-weight: bold;
    margin-bottom: 25px;
}

.footer span  { 
    color: white;
    margin: 0 20px;
    margin-bottom: 250x;
}

.footer  { 
    margin-top: 100px;
}


/* button swipper */

.r-button { 
    margin-top: 20px;
}

.btn-prv { 
    /* background-color: grey; */
    border: 1px solid rgb(255, 255, 255);
    color: white;
    margin-right: 20px;
}

.btn-nxt { 
    /* background-color: grey; */
    border: 1px solid rgb(255, 255, 255);
    color: white;
}

@media (max-width : 992px){
    .carousel-item img {
        margin-bottom: 50px;
        
    }

    .carousel .carousel-control-prev  { 
        background-color: rgba(0, 0, 0, 0);
        width: 50px;
    }
    
    .carousel .carousel-control-next {
        background-color: rgba(0, 0, 0, 0);
        width: 50px;
        color: yellow;
    }

    
}


@media (max-width : 576px){
    
    .carousel-item  {
        text-align: center;
        
    }
    
    .carousel-item img {
        margin-bottom: 50px;
        
    }

    .modal .modal-dialog { 
        margin: 30px auto;
    }
    
   
   
}