{
    font-family: 'Roboto', sans-serif;
}

.body { 
    background-color: black;
}


/* navbar */
.navbar { 
    color: white;
    z-index: 99;
    box-shadow: 5px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));
    margin-bottom: 20px;
}

.navbar .tex svg {
    color: white;
   font-size: 20px;
}

.navbar-brand img {
    width: 100px;
}

.navbar-brand span{
    font-size: 24px;
    font-weight: bold;
    color: rgb(222, 106, 4);
}

.navbar-collapse ul li {
    margin: 0 10px;
}

.navbar-collapse ul li a { 
    color: white;
    transition: 0.5s;
    
}

.navbar-collapse ul li a:hover { 
    color: #ffc107;
    
    
}

.navbar button span{
    border: none;
    font-weight: bold;
}




.navbar button {
    border-radius: 30px;
    border: none;
}

.navbar button:hover {
    opacity: 0.5; 
}

.navbar button svg{
    color: black;
}

.navbar button span{
    border: none;
    font-weight: bold;
    color: black;
}

/* modal signin */

.modal .modal-dialog {
    width: 350px;
}

.modal .logo {
    width: 200px;
    
}

.modal .modal-content {     
    padding: 20px;
    background-image: url(img/charlesdeluvio-jtmwD4i4v1U-unsplash.jpg);
    background-color: #121926;
}

.modal .modal-header {
    border-bottom: none;
}

.modal .modal-header h1{ 
    font-weight: bold;
    color: white
}

.modal .modal-header p{ 
    color: grey;
    font-size: 12px;
}

.modal .modal-header label{ 
    color: grey;
    font-size: 14px;
}

.modal .email{ 
    border-radius: 5px;
    width: 250px;
    font-size: 12px;
    
}

.modal .passcode{ 
    border-radius: 5px;
    width: 250px;
    font-size: 12px;
    
}

.modal label img {
    width: 15px;
}

.modal .btn { 
    width: 250px;
    /* background-color: rgb(163, 34, 34); */
    background-color: #ffc107;
    color: black
}

.modal .btn:hover { 
    
    background-color: rgb(219, 190, 0);
}

.modal .btn img{ 
    width: 15px;
}

/* Filter */

.filter { 
    
}

.filter p { 
    color: grey;
}

.filter a {
    color: grey;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

.filter a:hover {
    color: #ffc107
    
}

/* popular-movies */
.popular-movies .card img {
    width: 100%;
    transition: 0.3s;
}

.popular-movies img:hover {
    opacity: 0.5;
}

.popular-movies  .card  { 
    margin-bottom: 25px;
    gap: 10px;
}

.popular-movies  .card .tittle { 
    color: white;
}

.popular-movies  .card .rating { 
    position: absolute;
    top: 3px;
    left: 15px;
    padding: 0 5px;
    background-color: rgba(0, 0, 0, 0.715);
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.popular-movies  .card  .rating i { 
    color: #ffc107;
}

/* footer */


.footer button { 
    font-weight: bold;
    margin-bottom: 25px;
}

.footer span  { 
    color: white;
    margin: 0 20px;
    margin-bottom: 250x;
}

.footer  { 
    margin-top: 250x;
}

@media (max-width : 576px){
    
    .modal .modal-dialog { 
        margin: 30px auto;
    }
    
   
   
}