{
    font-family: 'Roboto', sans-serif;
}

body { 
    background-color: black;
}




/* Filter */



.filter p { 
    color: grey;
}

.filter a {
    color: grey;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

.filter a:hover {
    color: #ffc107
    
}

/* popular-movies */
.popular-movies .card img {
    width: 100%;
    transition: 0.3s;
}

.popular-movies img:hover {
    opacity: 0.5;
}

.popular-movies  .card  { 
    margin-bottom: 25px;
    gap: 10px;
}

.popular-movies  .card .tittle { 
    color: white;
}

.popular-movies  .card .rating { 
    position: absolute;
    top: 3px;
    left: 15px;
    padding: 0 5px;
    background-color: rgba(0, 0, 0, 0.715);
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.popular-movies  .card  .rating i { 
    color: #ffc107;
}



@media (max-width : 576px){
    
    .modal .modal-dialog { 
        margin: 30px auto;
    }
    
   
   
}